* {
  font-family: "Clear Sans", sans-serif;
  box-sizing: border-box; /* Щоб padding не ламав розмітку */
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Блокує скрол сайту */
}

.form-wrapper {
  position: fixed;
  inset: 0;
  overflow-y: auto; /* Дозволяє скрол тільки формі */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px; /* Щоб не злипалося з краями */
}

form {
  width: 100%;
  max-width: 768px;
  background-color: white;
  border-radius: 16px;
  padding: 38px 50px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #9ca3af;
  border-radius: 5px;
  background-color: white;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}

.custom-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

label {
  user-select: none;
  font-weight: 600;
  width: max-content;
}
