input[type="checkbox"].custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9ca3af; /* gray-400 */
  position: relative;
  vertical-align: middle;
  background-color: white;
}

input[type="checkbox"].custom-checkbox:checked::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 13l4 4L19 7"/></svg>');
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  user-select: none;
  font-weight: 600;
  width: max-content;
}

* {
  font-family: "Clear Sans", sans-serif;
}
